/* Cleanizr v.1.2.2 - custom.css
 *
 * @note : Any enhancement should be done in this file
 * @author : you
 * @author URL : your url
 *
 */


li.accordion-group a, ul.nav  {
    cursor: pointer;
}
#table_status tr td:first-child, #table_profiles_view tr td:first-child{
    cursor: pointer;
}
#create_server .help-block {
    display: block !important;
}
.dropdown-toggle {
    cursor: default;
}
.dropdown-menu li {
    cursor: pointer;
}
#prune_increment_input, #prune_archive_input {
	margin-bottom: 0px;
}
#server_status h4 {
    cursor: pointer;
}
#sidebar #nav > ul > li > a > .text {
	text-transform: none;
}
#donate {
	display: inline-block;
}
.gritter-success .gritter-top, .gritter-success .gritter-item , .gritter-success .gritter-bottom {
	background-color: #51a351;
	color: white;
}
.gritter-error .gritter-top, .gritter-error .gritter-item , .gritter-error .gritter-bottom {
	background-color: #bd362f;
	color: white;
}
.gritter-info .gritter-top, .gritter-info .gritter-item , .gritter-info .gritter-bottom {
	background-color: #2f96b4;
	color: white;
}
.gritter-warning .gritter-top, .gritter-warning .gritter-item , .gritter-warning .gritter-bottom {
	background-color: #f89406;
	color: white;
}