/* Cleanizr v.1.2.2 - custom.css
 *
 * @note : Any enhancement should be done in this file
 * @author : you
 * @author URL : your url
 *
 */


li.accordion-group a, ul.nav  {
    cursor: pointer;
}
#table_status tr td:first-child {
    cursor: pointer;
}
#create_server .help-block {
    display: block !important;
}
.dropdown-toggle {
    cursor: default;
}
.dropdown-menu li {
    cursor: pointer;
}
#prune_intervals {
	margin-bottom: 0px;
}
